<footer>
    <p class="academic_policy left">
        By submitting this assignment I declare that this assignment is my own work in accordance with the
        Seneca Academic Policy. No part of this assignment has been copied manually or electronically from any
        other source (including web sites) or distributed to other students.
    </p>
    <div class="social_media">
        <a href="https://www.twitter.com/" target="_blank">
            <img alt="Twitter Logo" src="/img/social_media/003-twitter.png" />
        </a>
        <a href="https://www.facebook.com/" target="_blank">
            <img alt="Facebook Logo" src="/img/social_media/004-facebook.png" />
        </a>
        <a href="https://www.youtube.com/" target="_blank">
            <img alt="Youtube Logo" src="/img/social_media/002-youtube.png" />
        </a>
        <a href="https://www.instagram.com/" target="_blank">
            <img alt="Instagram Logo" src="/img/social_media/001-instagram.png" />
        </a>
        <a href="https://www.tik-tok.com/" target="_blank">
            <img alt="Tik Tok Logo" src="/img/social_media/005-tik-tok.png" />
        </a>
    </div>
    <p class="academic_policy full">
        © Clara Verena Brito Battesini, cverena-brito-battes@myseneca.ca, WEB322 Winter 2023
    </p>
</footer>