<nav class="navbar navbar-expand-lg" style="background-color: #262952;">
    <div class="container-fluid d-flex flex-row justify-content-between">
        <a class="navbar-brand" href="/">
            <img class="logo" src="/img/logo/RentTemp-logos_white.png" alt="logo" />
        </a>

        <button style="width: 3rem; height: 2.8rem; color: #ffffffd2; border-color: #ffffff81" class="navbar-toggler"
            type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <i class="bi bi-list"></i>
        </button>

        <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
            <ul class="navbar-nav mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/rentals/list">Rentals</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/log-in">Log in</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/sign-up">Sign up</a>
                </li>
                {{#if user}}
                <li class="nav-item">
                    <a class="nav-link" href="/log-out">Log out</a>
                </li>
                {{/if}}
            </ul>
        </div>
    </div>
</nav>