

    <section class="hero">
        <img src="/img/hero_warning.jpg" alt="Unsplash by Jeriden Villegas - https://unsplash.com/photos/VLPUm5wP5Z0" />
        <h1>404</h1>
        <h1>Sorry, page not found!</h1>
        <button><a href="/">Go back to home</a></button>
    </section>
