<section class="hero">
    <img src="/img/hero_warning.jpg" alt="Unsplash by Jeriden Villegas - https://unsplash.com/photos/VLPUm5wP5Z0" />
    <h1>404</h1>
    <h1>Sorry, page not found!</h1>
    <div class="hero-buttons d-flex flex-row justify-content-center">
        <a href="/" class="btn btn-secondary" role="button">Go back to home</a>
    </div>
</section>