<section class="login">
    <div class="card">
        <form method="post" action="/signup">
            <h1>Sign up</h1>
            <p>Create your account to rent a house with us!</p>
            <div class="mb-3">
                <label class="form-label">First Name</label>
                <input type="text" class="form-control {{#if validationMsg.firstname}}is-invalid{{/if}}"
                    id="exampleFormControlInput1">
            </div>
            <div class="mb-3">
                <label class="form-label">Last Name</label>
                <input type="text" class="form-control {{#if validationMsg.lastname}}is-invalid{{/if}}"
                    id="exampleFormControlInput1">
            </div>
            <div class="mb-3">
                <label for="staticEmail" class="form-label">Email</label>
                <input type="text" class="form-control {{#if validationMsg.email}}is-invalid{{/if}}"
                    id="exampleFormControlInput2" placeholder="name@example.com">
            </div>
            <div class="mb-3">
                <label for="inputPassword" class="form-label">Password</label>
                <input type="password" class="form-control {{#if validationMsg.password}}is-invalid{{/if}}"
                    id="exampleFormControlInput3">
            </div>
            <div class="mb-3">
                <label for="inputPassword" class="form-label">Confirm Password</label>
                <input type="password" class="form-control" id="exampleFormControlInput4">
            </div>
            <div class="buttons d-flex flex-row justify-content-evenly">
                <a href="/" class="btn btn-secondary" role="button">Back to Home</a>
                <button type="button" class="btn btn-primary">Sign Up</button>
            </div>
        </form>
    </div>
</section>