<section class="hero">
    <img src="/img/hero_welcome.jpg" alt="A plate write welcome - https://unsplash.com/photos/OGND72jS-HE" />
    <h1>Hi Clerk! We're glad you are here!</h1>
</section>

<a href="/load-data/rentals" class="btn btn-secondary" role="button">Load Rental Data</a>

<section class="benefits"></section>